{% extends 'account/base.html' %}

{% block content %}
{% load static %}

    <div class="jumbotron">
        <h1>Challans</h1>
        {% for x in insert%}
        <div class="list-group">
            <form method="GET" action="{% url 'showchallandata' %}">
                
                <input type="submit" name="challanid" value="{{x}}"  href="#" class="list-group-item list-group-item-action"></a>
            
            </form>  
        </div>
          {% endfor %}
    </div>

{% endblock %}